.navbar {
    position: absolute;
    bottom: 10px;
    padding: 16px;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 30;
}

.navbarList {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.navbarListItem:hover > .navbarListItemDropdown,
.navbarListItemDropdown:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0); /* Ensure the final state matches the keyframes */
}

.navbarListItemDropdown {
    visibility: hidden;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: fit-content;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding-bottom: 30px;
    font-size: 12px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    transform: translate(-50%, 10%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 50%); /* Start from below */
    }
    to {
        transform: translate(-50%, 0); /* End at the original position */
    }
}